<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>598539259414-n0s7svj91psc539on0fgf2ts4rci7sb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598539259414-n0s7svj91psc539on0fgf2ts4rci7sb0</string>
	<key>API_KEY</key>
	<string>AIzaSyB0zfHQv5hBd7OZO24FvWIRsNLOFr1WWEU</string>
	<key>GCM_SENDER_ID</key>
	<string>598539259414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adrianbaumgart.KlassenAppDREA1234</string>
	<key>PROJECT_ID</key>
	<string>klassenappd</string>
	<key>STORAGE_BUCKET</key>
	<string>klassenappd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:598539259414:ios:1587ac2d8947ac55</string>
	<key>DATABASE_URL</key>
	<string>https://klassenappd.firebaseio.com</string>
</dict>
</plist>
