<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>de_DE</string>
	<key>CFBundleDisplayName</key>
	<string>KlassenApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>$(APP_ICON)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconBlueIco</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBlueIco</string>
				</array>
			</dict>
			<key>AppIconCustomIco</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconCustomIco</string>
				</array>
			</dict>
			<key>AppIconGoldIco</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGoldIco</string>
				</array>
			</dict>
			<key>AppIconGrayIco</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGrayIco</string>
				</array>
			</dict>
			<key>AppIconGreenIco</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGreenIco</string>
				</array>
			</dict>
			<key>AppIconPinkIco</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPinkIco</string>
				</array>
			</dict>
			<key>AppIconRedGoldIco</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconRedGoldIco</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.7.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIconCurrentIco</string>
			<key>CFBundleURLName</key>
			<string>com.adrianbaumgart.KlassenAppDREA1234</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>klassenapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1826</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>75647a5b751857d7bbca61b71d97f10967188f31</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.education</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Die App verwendet FaceID, damit man sich im Loginscreen mit FaceID anmelden kann.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>Homework1Intent</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeBookmark</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Hausaufgaben für diese Woche</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.adrianbaumgart.KlassenAppDREA123.showWeek1Homework</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeDate</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Nächste/s Arbeit / Event</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.adrianbaumgart.KlassenAppDREA123.showNextTest</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTime</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Hausaufgaben bis morgen</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.adrianbaumgart.KlassenAppDREA123.HABM</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTime</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Stundenplan</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.adrianbaumgart.KlassenAppDREA123.showTimeTable</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
